*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
 
  .preloader {
    z-index:1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #30415d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.preloader-finish {
    opacity: 0;
    position: none;
    z-index: 0;
    display: none;
}

.cloud1,
.cloud2,
.cloud3 {
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
}

.cloud1 {
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 3s ease infinite;
}

.cloud2 {
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 3s ease infinite 2s;
}

.cloud3 {
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 3s ease infinite 1.5s;
}

.preloader h3 {
    position: absolute;
    top: 75%;
    transform: translate(-75%);
    font-family: sans-serif;
    color: #fff;
}

.airplane {
    height: 200px;
    animation: airplane 1s ease infinite alternate;
}

@keyframes airplane {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes clouds {
    from {
        right: 0;
    }
    to {
        right: 130%;
    }
}
  body{
 
    width:100%; 
}
.bg {
  animation:slide 10s ease-in-out infinite ;
  background-image: linear-gradient(-60deg, rgb(28, 91, 226) 50%, rgb(16, 49, 235) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}
@keyframes slide {
0% {
  transform:translateX(-25%);
}
100% {
  transform:translateX(25%);
}
}

      
     
  .exit{
    display: none;
    cursor: pointer;
    font-family: Righteous;
    
  }
  nav{
   
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    transition: all 0.25s;
    z-index: 100;
  }

  nav.active{
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    transition: all 0.25s;
    background: #000000a8;
    z-index: 100;
  }
  .logo{
    width:70px;
    padding:8px;
    margin-left:15px;
    margin-top:5px;
   }
   
 
  nav ul{
    float: right;
    margin-right: 20px;
    
  }
 
  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a{
    color: white;
    font-size: 1.2rem;
    padding: 3px 13px;
    border-radius: 3px;
    font-family:Eczar;
  }
  nav ul li:hover{
    display:inline-block;
    transform: scale(1.2);
    transition: all 0.25s;
  }
  
  a.active{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-radius: 5px;
    }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .down-arrow{
    padding-left:10px;
  }
 
  .about-scratch{
    margin-top:200px;
    background-color: white;
    padding-bottom:50px;
  }
  @media screen and (max-width:609px){
    .about-scratch{
      margin-top: 300px;
      background-color: white;
      padding-bottom:50px;
    }
  }
  @media screen and (max-width:394px){
    .about-scratch{
      margin-top: 350px;
      background-color: white;
      padding-bottom:50px;
    }
  }
  .abt-scratch{
    margin-left:auto;
    margin-right:auto;
    display: block;  
  }
  
  @media (max-width: 952px){
    
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
       
    }
    .exit{
      display: block;
      color:white;
      float:right;
      padding-right:30px;
      padding-top:5px;
      font-size: 1.4rem;
    }
 
    .side-nav{
      position: fixed;
      top: 0;
      bottom:0;
      width: 100%;
      height: 100%;
      background-color: rgb(6, 1, 36,1);

      left:-100%;
      text-align: center;
      transition: all .5s;
     
     
      
    }
    .align-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left:20px;
      margin-top:15%;
    }
    nav ul li{
      display: block;
      margin: 35px 0;
      line-height: 30px;
      margin-left:auto;
      margin-right:auto;
    }
    nav ul li a{
      font-size: 20px;
    }
    a.active{
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      border-radius: 5px;
    }
    #check:checked ~ ul{
      left:0;
    }
  }
  
.content{
    margin-top:125px;
    width:100%;
}
.present{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:2.2rem;
    padding-left:10px;
  }
  .about-sc{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:2.2rem;
    padding-left:10px;
    color:rgb(16, 16, 59)
  }
  .about-sc-lg{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:2rem;
    padding-left:10px;
    color:rgb(16, 16, 59);
    margin-bottom:40px;
  }

  .quote{
    font-family: Eczar;
    color:rgb(206,206,206);
    font-size:3rem;
    padding-left:10px;

  }


.pad{
  width:100%;
  margin-top:30px;
  padding-top:10px;
  padding-bottom:10px;
  height:100%;

  transform: skewY(-2deg);
  background: rgb(179, 179, 204);
  box-shadow: 8px 8px 10px rgb(87, 109, 170);
 
 
}
.pad1{
  width:100%;
  height:100%;
  margin-top:30px;
  padding:1px;
  transform: skewY(-2deg);
  background: rgb(179, 179, 204);
  box-shadow: 8px 8px 10px rgb(87, 109, 170);
 
}



.im{
 position: relative;
 top:10px;
  width:50px;
  display: inline-block;
}
.cont{
  margin-top:80px;
}
.sc-cont{
  font-family:Eczar;
  color:rgb(206, 206, 206);
  font-size:2.3rem;
 
  text-align:center;
}
.sc-cont-list{
  font-family:Eczar;
  color:rgb(206, 206, 206);
  font-size:2rem;
  
  text-align:center;
}

.list{
  margin-top:40px;
  text-align:center;
  padding-bottom:80px;
  
}
.list-item{
  font-family: Eczar;
  display: block;
  font-size:2rem;
  padding:20px;
  color:rgb(206, 206, 206);
  cursor:pointer;
  width:min-content;
  margin:0 auto;
  
  
}
.list-item:hover{
  animation: skew-anim 500ms;

}
  
@keyframes skew-anim{
  0%{
    transform:skewY(0);
  }
  25%{
    transform:skewY(10deg);
  }
  50%{
    transform:skewY(0deg);
  }
  75%{
    transform:skewY(-10deg);
  }
  100%{
    transform:skewY(0deg);
  }
}
.block1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:250px;
  background: rgb(161, 165, 211);
  font-family:eczar;
  text-align: center;
  border-radius:12px;
  font-size:1.5rem;

}
.block1:hover{
  transform: scale(1.2);
  box-shadow:4px 4px 10px grey;
}
.ico{
  font-size:2.5rem;
}

.blocks-div{
  margin-top:30px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.start{
 display: flex;
 justify-content: center;
 margin-top:100px;
 margin-bottom:100px;
}
.start-link{
  text-align: center;
  text-decoration: none;
  font-size:1.7rem;
  color: rgb(206, 206, 206);
  padding:20px;
  font-family: eczar;
  border: 5px solid rgb(206, 206, 206);
  border-radius:12px;
  transition:0.25s ease-in-out;
}
.start-link:hover{
  background-color:rgb(206, 206, 206);
  color:rgb(39, 39, 202);
  transition:0.5s ease-in-out;
}
.foot-h{
  width:95%;
  margin:0 auto;
  
}
.ico-size{
  font-size:2rem;
}
@media(max-width:805px){
  .blocks-div{
    margin-top:10px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }
  .block1{
    width:250px;
    background: rgb(161, 165, 211);
    font-family:eczar;
    text-align: center;
    border-radius:12px;
    font-size:1.5rem;
    margin-top:30px;
  
  }
  
  
}
@media(max-width:703px){
  .sc-cont{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:2.1rem;
   
    text-align:center;
  }
  .sc-cont-list{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:1.5rem;
    
    text-align:center;
  }
  
}
@media(max-width:430px){
  .about-sc{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:1.8rem;
    color:rgb(16, 16, 59);
    width:100%;
 
  }
  .about-sc-lg{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:1.8rem;
    width:100%;

    color:rgb(16, 16, 59);
    margin-bottom:40px;
  }
  .pad{
    width: fit-content;
    margin-top:30px;
    padding-top:10px;
    padding-bottom:10px;
    height:100%;
  
    transform: skewY(-2deg);
    background: rgb(188, 188, 229);
    box-shadow: 8px 8px 10px rgb(87, 109, 170);
   
   
  }
  .pad1{
    width:100%;
    height:100%;
    margin-top:30px;
    padding:1px;
    transform: skewY(-2deg);
    background: rgb(188, 188, 229);
    box-shadow: 8px 8px 10px rgb(87, 109, 170);
   
  }
}
@media(max-width:534px){
  .present{
    font-family:Eczar;
    color:rgb(206, 206, 206);
    font-size:1.9rem;
    
  }
  .quote{
    font-family: Eczar;
    color:rgb(206,206,206);
    font-size:2.1rem;
    

  }
}
@media(max-width:387px){
  .quote{
    font-family: Eczar;
    color:rgb(206,206,206);
    font-size:1.9rem;
   

  }
}