.color-head{
    text-align: center;
    font-family: Righteous;
    font-size: 2.5rem;
    cursor: text;
}

.color-sub-head{
    font-family: Righteous;
    margin-top:46px;
    margin-left:15px;
    font-size:2rem;
  }

  /*css main file*/
  .text-blue{
      color:#0068BD;
  }
  .text-green{
      color: #14790B;
  }
  .text-yellow{
      color: #E2C803;
  }
  .text-red{
      color: #DC2509;
  }
  .text-dark{
      color: #242222;
  }
  .text-bright{
      color:#fffcfc;
  }
  .bg-dark{
        background-color: #242222;
  }
  .text-violet{
      color: violet;
  }
  .text-orange{
      color: orangered;
  }
  .web-align{
      margin-top:15px;
      font-family: signika;
      font-size:1.2rem;
      margin-left:30px;
  }


.web-align2{
    margin-top:15px;
    font-family:signika;
    padding:15px;
    font-size:1.3r  
  }
.bg-blue{
    background-color: #0068BD;
}
.bg-green{
    background-color: #14790B;
}
.bg-yellow{
    background-color: #E2C803;
}
.bg-bright{
    background-color: #fff;
}
.bg-violet{
    background-color: violet;
}
.bg-orange{
    background-color: orangered;
}
.bg-red{
    background-color: #DC2509;
}
.resp-align{
    margin-top:40px;
}