* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #e0e3ef;
}
.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #30415d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 999;
}

.preloader-finish {
  opacity: 0;
  position: none;
  z-index: 0;
  display: none;
}

.cloud1,
.cloud2,
.cloud3 {
  height: 100px;
  position: absolute;
  right: 0%;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}

.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 3s ease infinite 2s;
}

.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease infinite 1.5s;
}

.preloader h3 {
  position: absolute;
  top: 75%;
  transform: translate(-75%);
  font-family: sans-serif;
  color: #fff;
}
.current {
  color: #e6e22f;

}
.airplane {
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}

@keyframes airplane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes clouds {
  from {
    right: 0;
  }
  to {
    right: 130%;
  }
}
body {
  font-family: arial;
}

#check {
  display: none;
}
nav {
  background-color: #242d61;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 7px 7px 10px rgb(88, 88, 88);
}
.logo {
  width: 70px;
  padding: 8px;
  margin-left: 8px;
  margin-top: 5px;
}
a {
  color: white;  
}
.leftbar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #242d61;
  overflow-y: scroll;
  margin-top: 80px;
  bottom: 0;
  top: 0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  right: -200px;
  /* for sidebar to stay on top */
  z-index: 1;
  padding-bottom: 200px;
  transition: right 0.5s ease-in-out;
}

.exit {
  cursor: pointer;
  font-weight: 800;
  color: white;
  float: right;
  padding: 1.1rem;
}

.sidebar-button {
  float: right;
  cursor: pointer;
  font-weight: 800;
  color: #eeeeee;
  font-size: 40px;
  line-height: 80px;
  padding-right: 30px;
}

#check:checked ~ .leftbar {
  right: 0px;
}

#check:checked ~ .content {
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-image: linear-gradient(
    90deg,
    #62e04c,
    #00d1a1,
    #00b8f2,
    #0095ff,
    #2e5cf5
  );
}
.list-content {
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: Righteous;
  font-size: 1.3rem;
}
.side-head {
  letter-spacing: 0.1mm;
  color: white;
  padding-left: 10px;
  padding-bottom:5px;

}
.comp-head {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}
.side-link {
  color: white;
  padding-top:5px;
}
.uti-head {
  padding-top: 10px;
}
.comp {
  padding-left:45px ;
}
.comp-list {
  margin-top: 10px;
 
  cursor: pointer;
}
.left-align{
  padding-left:40px;
}
.para-height{
  line-height: 10mm;
}
.align-link{
padding-right:40px;
}
.nav-align{
  padding-right:35px;
}
.effect-part-align{
  text-align:left;
  margin-top:10px;
  padding-left:40px;
}

.doc-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btm-nav {
  position: fixed;
  bottom: -60px;
  width: 95%;
  height: 80px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #242d61;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: auto;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.25s ease-in-out;
  box-shadow: 7px 7px 10px rgb(58, 57, 57);
}
.arrow {
  color: #eeeeee;
  z-index: 2;
  transition: 0.25s ease-in-out;
  font-size: 2rem;
  cursor: pointer;
}
.btm-arrow {
  display: block;
  position: fixed;
  margin: 0 auto;
  bottom: 20px;
  padding: 10px 60px;
  background-color: #242d61;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  box-shadow: 7px 7px 10px rgb(58, 57, 57);
}
.btm-arrow:hover {
  transform: scale(1.2);
  transition: 0.25s ease-in-out;
}

.btm-arrow .arrow {
  position: relative;
  animation: arrow-anim 2s infinite;
  transition: ease-in;
}
@keyframes arrow-anim {
  25% {
    bottom: 5px;
  }
  50% {
    top: 5px;
  }
  75% {
    top: 5px;
  }
  100% {
    bottom: 5px;
  }
}
@media (max-width: 540px) {
  .btm-arrow {
    bottom: 5px;
    padding: 8px 40px;
  }
  .btm-nav {
    bottom: -70px;
  }
}
.align-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.arrow-active {
  transform: rotate(180deg);
  transition: 0.25s ease-in-out;
}
.btm-arrow-active {
  bottom: 80px;
  transition: 0.25s ease-in-out;
}
.btm-nav-active {
  bottom: 0px;
  transition: 0.25s ease-in-out;
}

.btm-nav-link {
 padding:0 10px;
  padding-top: 25px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  padding-bottom: 30px;
  overflow: hidden;
  font-family: Fredoka One;
  font-size: 13px;
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.btm-nav-link-active {
  color: #e6e22f;
}

.btm-nav-icon {
  font-size: 20px;
}

.content {
  overflow-x: hidden;
  margin-top: 100px;
  width: 95%;
  margin: 90px auto;
  padding-bottom: 80px;
}
.reveal {
  overflow-x: hidden;
  display: block;
  font-family: signika;
  color: black;
  float: right;
  padding: auto 5px;
  margin-top: 15px;
  margin-right: 5px;
  font-size: 1.1rem;
  background-color: #e0e3ef;

  width: 230px;
  height: 2.7rem;
  border-radius: 10px;
  cursor: pointer;
  border: aliceblue;
  font-weight: bold;
}
.reveal:hover {
  border: 5px solid #242222;
  transition: 0.25s ease;
}
.snip {
  width: 100%;
  margin: 60px 5px;
  display: none;
  max-width:800px;
  background: #2f3741f3;
  border-radius: 15px;
  padding-top:10px;
  padding-bottom:10px;
  

}

.snip-code {
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color:rgb(253, 229, 15);
}
.alig {
  margin-top: 50px;
}
.custom-txt {
  margin-top: 25px;
  margin-left: 10px;
}
.custom-para {
  font-family: Signika;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15px;
}

@media (max-width: 822px) {
  .align-show-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
  }
  .reveal {
    display: block;
    font-family: signika;
    color: black;
    float: left;
    font-size: 1.1rem;
    background-color: #e0e3ef;

    width: 195px;
    height: 2.7rem;
    border-radius: 10px;
    cursor: pointer;
  }
  .custom-txt {
    margin-top: 25px;
    margin-left: 10px;
  }
  .custom-para {
    font-family: Signika;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
@media (max-width: 651px) {
  .snip-code {
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
  }
}
@media (max-width: 451px) {
  .resp-alig {
    padding-left: auto;
    padding-right: auto;
  }
}
.main-head {
  text-align: center;
  font-family: Righteous;
  font-size: 2.2rem;
  cursor: text;
}
.abt-head {
  font-size: 1.5rem;
  padding: 10px 0px;
  margin-left: 10px;
  text-align: center;
  font-family: Signika;
}
.sub-head {
  font-family: Righteous;
  margin-top: 46px;
  margin-left: 15px;
  font-size: 2rem;
}
.sub-head1 {
  font-family: Righteous;
  margin-bottom:25px;
  margin-top: 46px;
  margin-left: 15px;
  font-size: 1.5rem;
}
.abt-sub {
  font-family: Signika;
  margin-left: 10px;
  padding: 20px 5px;
  font-size: 1.2rem;
}
.sample {
  margin-left: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  padding-left: 5px;
  margin-top: 40px;
}
.example {
  font-size: 1.19rem;
}
.inline-code {
  color:rgb(255, 66, 66);
  font-size:1.2rem;
  background: rgb(233, 230, 207);
  padding:4px;
  font-weight: 700;
  margin:0 6px;
}
.class{
  color:rgb(255, 66, 66);

}
@media (max-width: 426px) {
  .abt-head {
    font-size: 1.2rem;
    padding: 10px 0px;
    margin-left: 10px;
    text-align: center;
    font-family: Signika;
  }
}

.abt-icon {
  font-size: 25px;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-image: linear-gradient(
    90deg,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}
.main-hr {
  margin-top: 110px;
  width: 98%;
  border: 0px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.192),
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.274)
  );
  height: 3px;
  margin-bottom:80px;
}
