.badge{
    background-color:black;
    color:white;
    padding:3px 10px;
    border-radius:5px;

}
.align{
    
    padding-top:20px;
    margin-left:25px;
}
  .link{
      color:blue;    

}

.bg-green{
    background-color: #14790B ;
}

.bg-red{
  background-color: #DC2509 ;
}
.txt-yellow{
  color: #E2C803;
}
