.content{
  margin-top: 100px;
  width:97%;
  margin:100px auto;
  padding-bottom: 80px;
  
}

.abt-jumbo{
  font-size: 1.5rem;
  padding:10px 0px;
  margin-left:10px;
  text-align: center;
  font-family: Signika;
}
.jumbo-head{
  text-align: center;
  font-family: sans-serif;
  font-size: 2.2rem;
  cursor: text;
}
.default-jumbo{
  margin-left:10px;
  padding-bottom: 20px;
  border-radius: 20px;
  padding-left:5px;
  
  
}
.jumbotron{
  font-family: sans-serif;
  margin-top:100px;
  width:99%;
  margin-left:auto;
  margin-right:auto;
  background-color:rgb(253, 250, 250) ;
  padding:25px;
  border-radius: 10px;
 
}
.head{
  font-family: Righteous;
  text-align: center;
  font-size:2.8rem;

  font-weight: bold;
}
.jumbo-head{
  text-align:left;
  font-size:2.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.jumbo-catch_line{
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  margin-top:10px;
  margin-bottom:20px;
}
.jumbo-content{
  font-size:1.1rem;
  margin-top:30px;
  font-family: 'Open Sans', sans-serif;
}


.btn{
  font-family: 'Open Sans',sans-serif;
  color:black;
  font-size:1rem;
  width:90px;
  height: 2.7rem;
  border-radius: 10px;
  cursor: pointer;
  outline:none;
  margin-top:15px;
}
.btn-dark{
  background-color:#242222;
  border:3px solid #242222;
  color:white;
}

.btn-dark:hover{
  background-color:#1b1a1a;
  border:3px solid #1b1a1a;
  transition:0.25s ease;
}
.alig-reveal{
  margin-bottom:30px;
}

.snip1{
  width:90%;
  margin:10px 5px;
  display: none;
  margin-top:100px;
  margin-bottom: 50px;
  background: #2f3741f3;
  padding-top:10px;
  padding-bottom:10px;

}
.snip-code1{
  padding:5px 20px;
  font-size: 1rem;
  font-weight: bold;
  color:rgb(253, 229, 15);
  
}
.sub-code{
  padding-left:40px;
}
.btn-lrg{
  width: 130px;
  height: 3.8rem;
}
.jumbo-hr{
  width:98%;
  border:0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));;
  height: 1px;
  
}
.hd-jumbo{
  font-family: Righteous;
  margin-top:46px;
  margin-left:15px;
  font-size:2rem;
}
.txt-center{
  text-align:center;
}
.btn-center{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.example{
  font-family: Righteous;
  margin-top:15px;
  font-size: 1.5rem;
}
.jumbo-background{
  background-image: url('img/back.jpeg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  color:white;
  margin-bottom: 80px;

}

.btn-bright{
    background-color:#fffcfc;
    border:3px solid #fffcfc;
    color:black;
}
.btn-bright:hover{
    background-color:#e4dddb;
    border:3px solid #e4dddb;
    transition:0.25s ease;
  }
  .my-hr{
    width:98%;
    border:0;
    background-color:white;
    margin-top:10px;
    height: 1px;
    
  }
.bg-yellow{
  background-color:#eed707;
  
}
.btn-brd{
  border-radius: 60px;
}
.back-pink{
  background-color: pink;
}

@media (max-width:451px){
  .resp-alig{
    padding-left:auto;
    padding-right: auto;
  }
}
.jumbo-alig{
  margin-right:10px;
}

