.prim-imag{
    display: inline-block;
    width: 300px;
    margin-top:30px;
    padding-left:20px;
}
.prim-imag-alt{
    display:block;
    width:50%;

}
.sub-head1 {
    font-family: Righteous;
    margin-top: 46px;
    margin-left: 15px;
    font-size: 1.5rem;
  }
  .img-grey {
      -webkit-filter:grayscale(100%);
    filter: grayscale(100%);
  }
.img-blur-5{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.img-contrast-75{
    -webkit-filter: contrast(175%);
    filter: contrast(175%);
}
.img-saturate-4{
    -webkit-filter: saturate(400%);
    filter: saturate(400%);
}
.img-invert{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
@media(max-width:637px){
    .prim-imag{
        display: block;
        padding-left:0;
        padding-top:20px;
        margin: 0 auto;

    }
}
@media(max-width:321px){
    .prim-imag{
        display: block;
        padding-left:5px;
        padding-right:5px;
        padding-top:20px;
        margin: 0 auto;

    }
}
.img-container {
    margin:0 auto;
    margin-top:40px;
    position: relative;
    width: 25%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .img-overlay-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .img-container:hover .img-overlay-fade {
    opacity: 1;
  }
  
  .img-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .code-al{
      padding-left:30px;
  }
  @media(max-width:822px){
    .img-container{
        margin:0 auto;
        margin-top:40px;
        position: relative;
        width: 70%;
      }
}
.container {
    position: relative;
    width: 50%;
  }
  
  .img-overlay-zoom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }
  
  .img-container:hover .img-overlay-zoom {
    transform: scale(1);
  }
  
  .img-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .img-flip:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .gap{
      display: block;
      margin: 0 auto;
      margin-top:30px;
  }
  .gap1{
    display: block;
    margin: 0 auto;
    margin-top:30px;
    margin-bottom:40px;
}
  .img-flip-container{
  background-color: transparent;
  width: 300px;
  height:200px;
  perspective: 1000px; 
}

.flip-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.img-flip-container:hover .flip-container-inner {
  transform: rotateY(180deg);
}

.flip-container-front, .flip-container-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-container-front {
  background-color: #bbb;
  color: black;
}

.flip-container-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}