.nav-center{
    display: block;
    margin:0 auto;
}
.navbar {
    width: 100%;
    background-color: rgb(76, 123, 224);
    overflow: auto;
  }
  
  .navbar-link {
    float: left;
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  .sample{
    margin-left:0;
}

  .navbar-link:hover {
    background-color: rgb(37, 30, 78);
    transition:0.25s all;
  }
  
  .nav-active {
    background-color: rgb(43, 42, 121);
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  .code-al{
    padding-left: 35px;
}
.code-al2{
    padding-left: 40px;
}
.code-al3{
    padding-left: 45px;
}
.code-al3{
    padding-left: 50px;
}
.code-al4{
    padding-left: 55px;
}
.code-al5{
    padding-left: 60px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(76, 123, 224);
  }
  
  .topnav-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav-link:hover {
    background-color: rgb(37, 30, 78);
    transition: 0.25s all;
    
  }
  
  .topnav-link .active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container .nav-button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container .nav-button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav-link, .topnav input[type=text], .topnav .search-container .nav-button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  
}