
.search_center{
display: block;
margin:0 auto;
}

.search_wrap {
    width: 85%;
    margin:0 auto;
}

.search_wrap .search_box {
    position: relative;
    width: 95%;
    height: 60px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    border: 1px solid;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #7690da;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #708bd2;
}


.search_wrap .search_box .btn.btn_icon .search_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.rect-search .search_box .btn {
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search_wrap.rect-search .search_box .input,
.search_wrap.pill_search .search_box .input {
    padding-right: 80px;
}

.search_wrap.rect-search-inv .search_box .btn {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search_wrap.rect-search-inv .search_box .input,
.search_wrap.pill-search-inv .search_box .input {
    padding-left: 80px;
}

.search_wrap.pill_search .search_box .input,
.search_wrap.pill-search-inv .search_box .input,
.search_wrap.pill-in .search_box .input {
    border-radius: 50px;
}

.search_wrap.pill_search .search_box .btn {
    right: 0px;
    border-radius: 50%;
}

.search_wrap.pill-search-inv .search_box .btn {
    left: 0px;
    border-radius: 50%;
}

.search_wrap.pill-in .search_box .btn,
.search_wrap.rect-in .search_box .btn {
    width: 125px;
    height: 45px;
    top: 8px;
    right: 5px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_wrap.pill-in .search_box .btn {
    border-radius: 25px;
}

.search_wrap.rect-in .search_box .input,
.search_wrap.pill-in .search_box .input {
    padding-right: 145px;
}
.code-al{
    padding-left: 35px;
}
.code-al2{
    padding-left: 40px;
}
.code-al3{
    padding-left: 45px;
}
.code-al3{
    padding-left: 50px;
}
.code-al4{
    padding-left: 55px;
}
.code-al5{
    padding-left: 60px;
}