*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  

  .preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #30415d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.preloader-finish {
    opacity: 0;
    position: none;
    z-index: 0;
    display: none;
}

.cloud1,
.cloud2,
.cloud3 {
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
}

.cloud1 {
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 3s ease infinite;
}

.cloud2 {
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 3s ease infinite 2s;
}

.cloud3 {
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 3s ease infinite 1.5s;
}

.preloader h3 {
    position: absolute;
    top: 75%;
    transform: translate(-75%);
    font-family: sans-serif;
    color: #fff;
}

.airplane {
    height: 200px;
    animation: airplane 1s ease infinite alternate;
}

@keyframes airplane {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes clouds {
    from {
        right: 0;
    }
    to {
        right: 130%;
    }
}
  body{   
    width:100%; 
    margin-bottom:80px;
}
.bg {
    animation:slide 10s ease-in-out infinite ;
    background-image: linear-gradient(-60deg, rgb(28, 91, 226) 50%, rgb(16, 49, 235) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  .exit{
    display: none;
    cursor: pointer;
    font-family: Righteous;
    
  }
  nav{
   
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    transition: all 0.25s;
    z-index: 100;
  }
  .learn{
    display: flex;
    justify-content: center;
  }
  nav.active{
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    transition: all 0.25s;
    background: #000000a8;
    z-index: 100;
  }
  .logo{
    width:70px;
    padding:8px;
    margin-left:15px;
    margin-top:5px;
   }
   
 
  nav ul{
    float: right;
    margin-right: 20px;
    
  }
 
  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a{
    color: white;
    font-size: 1.2rem;
    padding: 3px 13px;
    border-radius: 3px;
    font-family:Eczar;
  }
  nav ul li:hover{
    display:inline-block;
    transform: scale(1.2);
    transition: all 0.25s;
  }
  
  a.active{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-radius: 5px;
    }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .down-arrow{
    padding-left:10px;
  }
  .ico-size{
    font-size:2rem;
  }
  .about-scratch{
    margin-top:200px;
    background-color: white;
    padding-bottom:50px;
  }
  @media screen and (max-width:609px){
    .about-scratch{
      margin-top: 300px;
      background-color: white;
      padding-bottom:50px;
    }
  }
  @media screen and (max-width:394px){
    .about-scratch{
      margin-top: 350px;
      background-color: white;
      padding-bottom:50px;
    }
  }
  .abt-scratch{
    margin-left:auto;
    margin-right:auto;
    display: block;  
  }
  
  @media (max-width: 952px){
    
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
       
    }
    .exit{
      display: block;
      color:white;
      float:right;
      padding-right:10px;
      padding-top:5px;
      font-size: 1.4rem;
    }
 
    .side-nav{
      position: fixed;
      top: 0;
      bottom:0;
      width: 100%;
      height: 100%;
      background-color: rgb(6, 1, 36,1);

      left:-100%;
      text-align: center;
      transition: all .5s;
     
     
      
    }
    
    .align-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left:20px;
      margin-top:15%;
    }
    nav ul li{
      display: block;
      margin: 35px 0;
      line-height: 30px;
      margin-left:auto;
      margin-right:auto;
    }
    nav ul li a{
      font-size: 20px;
    }
    a.active{
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      border-radius: 5px;
    }
    #check:checked ~ ul{
      left:0;
    }
  }
  
  @media(max-width:463px){
    
    .content .link {
      margin-top:25px;
      margin-left: 10px;
      background: none;
      padding: 2px 5px;
      font-size: 25px;
      font-weight: bold;
      color: aliceblue;
      border: 5px solid white;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      font-family: Eczar;
    }
   
  
    .content h1{
   
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    margin-top:65px;
    min-width: 250px;

  }
  .content h2 {
      padding: 0;
      color: white;
      margin-top:5px;
      font-size:1.7rem;
      font-family: Eczar;
    }
    .content hr{
      width:250px;
      margin-left:auto;
      margin-right:auto;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid #000000;
    }
    
  }
  
  
  
   
      
   
  .content {
    margin-bottom:100px;
    margin-top: 40px;
    text-align: center;
}
.alig{
  display:inline-block;
}





.head{
    margin-top:120px;
    font-family:eczar;
    font-size:3rem;
    padding-left:20px;
    text-align: left;
    color:white;
}
.feature{
    margin-top:40px;
    font-family:eczar;
    font-size:2rem;
   
    text-align: center;
    color:white;
}
.card {
    position: relative;
    width: 250px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index: -1;
}

.card:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
}

.card:hover .imgBx {
    bottom: 80px;
}

.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
}

.card .details h3 a {
    font-weight: 500;
    font-size: 16px;
    color: #349df7;
    display: block;
    margin-top: 5px;
}
.box{
    display: flex;
    margin-top:80px;
}

@media(max-width:677px){
    .box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .box{
        margin-top:20px;
    }
    .card{
        margin-top:40px;
    }
}

.step-div{
  margin-top:60px;
  padding:30px 10px;
  background: rgb(238, 231, 231);
}
.step-type{
  font-weight: bold;
  text-align: left;
  font-size:2.2rem; 
  font-family:eczar;
  padding-left:20px;
}
.step-type-alt{
  
  font-size:2rem; 
  font-family:eczar;
  color:rgb(236, 235, 235);
}
.instruct{
  margin-top:35px;
  text-align: left;
  font-size:1.5rem; 
  font-family:eczar;
  padding-left:20px;
}
.download-btn{
  margin-top:40px;
}
.btn{
  background: none;
  padding:20px 60px;
  font-family:eczar;
  font-size:1.3rem;
  border: 5px solid #000000b2;
  border-radius: 12px;
  cursor:pointer;
}

.down-link{
  text-decoration: none;
  color: #000;
}
.btn:hover{
  color:rgb(226, 223, 223);
  background: #222;
  transition: 0.25s ease-in-out;
}

.downloading-txt{
  display: none;
  margin-top:35px;
  font-family: eczar;
  font-size: 1.3rem;
  text-align: center;
}
.top-gap{
  margin-top:130px;
}
.top-gap-alt{
  margin-top:40px;
}
.tag{
  color:red;
}
.css-link-div{
  display: inline-block;
  margin-top:40px;
  background: rgb(39, 36, 36);
  border-radius:14px;

}
.css-link{
  font-weight: bold;
  color: rgb(204, 204, 78);
  padding: 30px;
  font-size:1.3rem;
  font-family:eczar;
}
.doc-link-div{
  margin-top:50px;
 
}
.doc-link{
  padding:20px 60px;
  border:5px solid rgb(236, 236, 236);
  color:rgb(236, 236, 236);
  font-family: eczar;
  font-size:1.4rem;
  border-radius: 14px;
}
.doc-link:hover{
  color:rgb(28, 91, 226);
  background: rgb(236, 236, 236);
  transition: 0.2s ease-in-out;
}

@media(max-width:546px){
  .css-link{
    font-weight: bold;
    color: rgb(204, 204, 78);
    padding: 30px;
    font-size:1rem;
    font-family:eczar;
  }
}

@media(max-width:492px){
  .step-type{
    
    text-align: left;
    font-size:1.7rem; 
    font-family:eczar;
    padding-left:10px;
  }
  .step-type-alt{
    
    font-size:1.4rem; 
    font-family:eczar;
    color:rgb(236, 235, 235);
  }
}
@media(max-width:361px){
  
  .doc-link{
    padding:20px 30px;
    border:5px solid rgb(236, 236, 236);
    color:rgb(236, 236, 236);
    font-family: eczar;
    font-size:1.4rem;
    border-radius: 14px;;
  }
  
}
