<nav class="navbar">
<div class="nav-logo">
  <a href="#">Logo</a>
</div>
  <ul class="nav-links-container">
    {% for item in nav %}
      <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
  <div class="menu-btn">
        <div class="menu-btn-burger"></div>
    </div>
</nav>