<footer class="footer">
      <div class="footer-item copyright">Copyright @Scratchui 2021</div>
  <ul class="footer-container">
      <li class="footer-item"><a class="footer-link" href="/OurTeam">Sponser</a></li>
      <li class="footer-item"><a class="footer-link" href="/OurTeam">About Us</a></li>
</ul>
</footer>

