<footer class="footer">
<div class="footer-text"><a class="footer-link" href="/OurTeam">Sponsor</a></div>
<div class="footer-text">Copyright @Scratchui 2021</div>
<div class="footer-text"><a class="footer-link" href="/OurTeam"> About Us</a></div>
</footer>