<nav class="navbar">
<a href="" class="nav-logo">Logo</a>
  <ul class="nav-links-container">
    {% for item in nav %}
      <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
</nav>