---
title: Scratch UI
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/css/comm.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/team.css" />
    <title>{{ title }}</title>
  </head> 1
  <body>
  {% include "header.njk" %}
    {{ content | safe }}  
    {% include "footer.njk" %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        new kursor({
        type: 1,
        color: '#ffffff', 
        removeDefaultCursor: true})
  </script>

  <script>
  var typed = new Typed(".type", {
    strings: [
      "Responsive",
      "Awesome",
      "Clean"
    ],
    typeSpeed:80,
    smartBackspace: true,
    backSpeed: 80, 
    loop: true,
    showCursor: true
  });
</script>
  </body>
</html>

