<div class="sidebar-container">
    <ul class="sidebar-links-container">
        <li class="sidebar-links-item home"><a href="#" class="sidebar-link">Home</a></li>
        <li class="sidebar-links-item about"><a href="#" class="sidebar-link">About</a></li>
    </ul>
    <h3 class="sidebar-head">Getting Started</h3>
    <ul class="sidebar-links-container">
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Installation</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Example</a></li>
    </ul>
    <h3 class="sidebar-head">Components</h3>
    <ul class="sidebar-links-container">
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Button</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Badge</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Card</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Loader</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Jumbotron</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Navbar</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Form</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">CheckBox</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Alert</a></li>
    </ul>
     <h3 class="sidebar-head">Utilities</h3>
    <ul class="sidebar-links-container">
        <li class="sidebar-links-item"><a href="#"class="sidebar-link">Border</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Flex</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Spacing</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Color</a></li>
        <li class="sidebar-links-item"><a href="#" class="sidebar-link">Text</a></li>
    </ul>
</div>