@font-face {
  font-family: "Mulish";
  src: url("/assets/Mulish-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "MulishBold";
  src: url("/assets/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "RobotoSlabBold";
  src: url("/assets/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("/assets/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --primary-color: #04081b;
  --secondary-color: #080f34;
  --hover-color: #00fec1;
  --text-color: #fff;
  --box-shadow: 0 6px 10px rgba(4, 8, 27, 0.788);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 2.2rem 4rem;
  background: var(--primary-color);
  box-shadow: 0 6px 15px rgba(4, 8, 27, 0.788);
}
.nav-logo {
  color: var(--text-color);
  font-family: "RobotoSlabBold";

  font-size: 2rem;
  text-decoration: none;
  flex: 2.5;
}
.nav-links-container {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.nav-link {
  font-family: "RobotoSlab";
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

.nav-link:before {
  position: absolute;
  pointer-events: none;
  content: "";
  width: 0;
  height: 3px;
  border-radius: 2px;
  background: var(--hover-color);
  bottom: -0.5rem;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
  width: 100%;
}

.footer {
  bottom: 0;
  color: var(--text-color);
  background: var(--primary-color);
  display: flex;
  padding: 0 4rem;
  min-height: 10vh;
  font-family: "RobotoSlabBold";
  font-size: 1.2rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -6px 10px rgba(4, 8, 27, 0.788);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.footer-item {
  list-style: none;
}

.footer-link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
}
.footer-link:before {
  position: absolute;
  pointer-events: none;
  content: "";
  width: 0;
  height: 3px;
  border-radius: 2px;
  background: var(--hover-color);
  bottom: -0.6rem;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover:before {
  width: 100%;
}

.copyright {
  display: flex;
  font-family: "RobotoSlab";
  font-size: 1rem;
  flex: 4;
}

@media (max-width: 900px) {
  .nav-logo {
    flex: 1;
  }

  .copyright {
    flex: 1.4;
  }

}

@media (min-width: 900px) and (max-width: 1160px) {
  .nav-logo {
    flex: 1.5;
  }
  
  .copyright {
    flex: 2.5;
  }


}

@media (max-width: 650px) {

  .nav-links-container {
    display: none;
  }
}

@media (max-width: 900px) {
 .nav-item .nav-link {
    font-size: 1.2rem;
  }

  .nav-logo {
    font-size: 1.7rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 530px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0;
  }
  .footer-container {
    width: 80%;
    justify-content: space-around;
  }

  .copyright {
    margin-bottom: 0.3rem;
  }
}

@media (max-width:330px) {
  .copyright {
    font-size: 0.7rem;
  }

  .footer-container {
    font-size: 0.8rem;
  font-family: "RobotoSlab";
  }
}