body {
  background-color: var(--primary-color);
}
.wrapper {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  color: var(--text-color);
}

.title {
  font-size: 5rem;
  font-family: "RobotoSlabBold";
  letter-spacing: 1.3mm;
  text-align: center;
}
.typed-container {
  margin: 2rem 0;
  margin-bottom: 2.7rem;
}
.typed {
  text-align: center;
  font-size: 2rem;
  font-family: "MulishBold";
}
.link-container {
  display: flex;
  justify-content: center;
}
.link {
  font-family: "Mulish";
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.7rem;
  padding: 1.2rem 2.5rem;
  border: 3px solid var(--text-color);
  border-radius: 10px;
  margin: 0 2rem;
  transition: 0.25s ease-in-out;
}
.link:hover {
  color: var(--primary-color);
  background: var(--hover-color);
  border-color: var(--hover-color);
}
hr {
  margin: 0 auto;
  height: 10px;
  border: 0;
  width: 87%;
  margin-top: 1rem;
  box-shadow: 0 10px 10px -10px var(--hover-color) inset;
}
