.team-head {
  font-family: "RobotoSlabBold";
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-color);
  margin: 4rem 0;
}
.team-container {
  width: 75%;
}
.team-wrapper {
  margin-top: -20px;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-card-container {
  display: flex;
  justify-content: space-around;
}
.team-img {
  width: 250px;
  height: 200px;
}
.team-card {
  border: 5px solid var(--text-color);
  border-radius: 20px;
}
.img-container {
  background: var(--text-color);
}
.img-container img {
  border-radius: 20px;
}
.card-desc {
  background: var(--text-color);
}

.member-name {
  font-family: "MulishBold";
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  padding: 20px 0;
}
.social-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.social-link {
  transform: scale(1);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.social-link:hover {
  transform: scale(1.2);
}
.social-link-mid {
  margin: 0 1.8rem;
}
